[flake8]
max-line-length = 200
exclude = .git,__pycache__,.venv
ignore = D107
docstring-convention=google
per-file-ignores =
    # invalid escape sequence
    vpn-example/vpc_example/vpn_server.py:
        W605
