-e .
flake8
flake8-blind-except
flake8-breakpoint==1.1.0
flake8-builtins==1.4.2
flake8-comprehensions==3.2.2
flake8-docstrings
flake8-eradicate==0.3.0
flake8-logging-format==0.6.0
flake8-print==3.1.4
flake8-rst-docstrings
pep8-naming==0.9.1
pre-commit
